<!--- Page Trip 03/2018-->
<div class="container-fluid padding text-center">
    <div class="row padding">
        <div class="col-12">
            <a href="#page">
                <button type="button" class="btn btn-outline-secondary btn-md">Page, AZ</button>
            </a>
            <a href="#pot">
                <button type="button" class="btn btn-outline-secondary btn-md">My Kokopelli Find</button>
            </a>
            <div class="row text-center">
                <div class="col-12">
                    <a href="#comment">
                        <button type="button" class="btn btn-outline-secondary btn-md">Add a Comment</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-5 text-center">
            <h3>Our Trip to Page, AZ</h3>
            <h6>March 30 thru April 1, 2018</h6>
            <div class="row padding" style="margin-top: 2rem">
                <img class="center-block blog-img" src="ngApp/images/blog/PageAZ/horseshoe-bend-selfie.jpg" style="height:300px" alt="Selfie">
            </div>
            <p>This is where we put some basic information about the trip. What was special about it, etc</p>
            <p>We can add more information in a second paragraph or leave as is</p>
            <br>
            <a href="/pageaz" class="btn btn-outline-secondary">Read More</a>
        </div>
        <div class="col-lg-4 text-center">
            <h3>The Perfect Pot</h3>
            <h6>April 1, 2018</h6>
            <div class="row padding" style="margin-top: 2rem">
                <img class="center-block blog-img" src="/ngApp/images/blog/PageAZ/kokopelli-music-spirit-pot.png" style="height:300px" alt="pot">
            </div>
            <p>If Highway 89A is considered one of the paths least traveled in Arizona, they clearly were not on our path today.
                The journey began about 3:30 yesterday and ended in a moment of grit determination.</p>
            <p>Yesterday at roadside stop John decided that he would like a Navajo Pot to put in his new office. He has been
                looking decor, and I thought it was a great idea. This was so much better than anything that could be picked
                up at Hobby Lobby. This would have some meaning for him. Who knows, maybe seeing the pot daily will inspire
                the planning of our next adventure. Needless to say, I was all for it, that is until I realized it had to
                be the perfect pot.</p>
            <p>This morning we hopped on the highway headed back home with the plan to stop at some roadside vendors hoping
                to find the perfect pot. Let’s just say if the government thought we were interesting enough to track even
                they would have been confused.</p>
            <br>
            <a href="/pageaz" class="btn btn-outline-secondary">Read More</a>
        </div>
        <div class="col-lg-2 mt-0 mr-1">
            <div class="row text-center" data-spy="affix" data-offset-top="200">
                <h3>Cindy&Me</h3>
                <h6>Est 1989</h6>
                <div class="row padding" style="margin-top: 1.5rem">
                    <img class="center-block blog-img" src="/ngApp/images/blog/PageAZ/antelope-canyon-1.jpg" style="height:300px" alt="antelope-canyon">
                </div>
                <p class="mt-2">Hello! We are John & Cindy, thank you for visiting! We love to spend time with eachother & see new places.
                    Please take a look at our travels and leave a comment or two!</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div id="page" class="row padding">
        <div class="col-lg-5 text-center">
            <h3>Our Trip to Page, AZ</h3>
            <h6>March 30 thru April 1, 2018</h6>
            <div class="row padding" style="margin-top: 2rem">
                <img class="center-block blog-img" src="ngApp/images/blog/PageAZ/horseshoe-bend-selfie.jpg" style="height:300px" alt="Selfie">
            </div>
            <p>This is where we put some basic information about the trip. What was special about it, etc</p>
            <p>We can add more information in a second paragraph or leave as is</p>
            <br>
            <a href="/pageaz" class="btn btn-outline-secondary">Read More</a>
        </div>
        <div id="pot" class="col-lg-4 text-center">
            <h3>The Perfect Pot</h3>
            <h6>April 1, 2018</h6>
            <div class="row padding" style="margin-top: 2rem">
                <img class="center-block blog-img" src="/ngApp/images/blog/PageAZ/kokopelli-music-spirit-pot.png" style="height:300px" alt="pot">
            </div>
            <p>If Highway 89A is considered one of the paths least traveled in Arizona, they clearly were not on our path today.
                The journey began about 3:30 yesterday and ended in a moment of grit determination.</p>
            <p>Yesterday at roadside stop John decided that he would like a Navajo Pot to put in his new office. He has been
                looking decor, and I thought it was a great idea. This was so much better than anything that could be picked
                up at Hobby Lobby. This would have some meaning for him. Who knows, maybe seeing the pot daily will inspire
                the planning of our next adventure. Needless to say, I was all for it, that is until I realized it had to
                be the perfect pot.</p>
            <p>This morning we hopped on the highway headed back home with the plan to stop at some roadside vendors hoping
                to find the perfect pot. Let’s just say if the government thought we were interesting enough to track even
                they would have been confused.</p>
            <br>
            <a href="/pageaz" class="btn btn-outline-secondary">Read More</a>
        </div>
        <div class="col-lg-2 mt-0 mr-1">
            <div class="fixed text-center">
                <h3>Cindy&Me</h3>
                <h6>Est 1989</h6>
                <div class="row padding" style="margin-top: 1.5rem">
                    <img class="center-block blog-img" src="/ngApp/images/blog/PageAZ/antelope-canyon-1.jpg" style="height:300px" alt="antelope-canyon">
                </div>
                <p class="mt-2">Hello! We are John & Cindy, thank you for visiting! We love to spend time with eachother & see new places.
                    Please take a look at our travels and leave a comment or two!</p>
            </div>
        </div>
    </div>
</div>

<hr id="comment" class="blog-hr">
<div class="container-fluid padding">
    <div class="row">
        <div class="col-9">
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement('script');
                    s.src = 'https://jchleborad.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the +
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
            </noscript>
        </div>
    </div>
</div>