<!-- Page Content - -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center" style="padding: 0px; height:100%">
            <img src="/ngApp/images/site-header.png" alt="header" class="img-responsive img-header">
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="mt-5">Cindy & Me
                <br>
                <div style="font-size:1.25rem">Cindy & John Chleborad</div>
            </h1>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="/ngApp/images/sunset.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">A little about us...</h2>
                    <p class="card-text" style="font-size:.8rem">We met in a small class at a small college in a small town. It was April and we had just a short time
                        together before we left for summer break. We fell immensely in love, survived the time away and were
                        married a short time later. We have raised two fantastic children and are now experiencing life in
                        huge way. These are the places we visit and the stories we tell. Enjoy!</p>

                        <p class="card-text mb-0">March 22, 2018</P>
                        <p style="font-size: .8rem">Another year older it is. This year for my birthday I received a very unique and special gift. Our own website!
                        This last year has been hard, harder than imagined and was filled with experiences I had feared for quite a while. I found
                        out that those fears, when worked through, were not so scary. We found the one thing we had dreaded the most brought about
                        an opportunity to embrace change. Throughout his life my husband has enjoyed just about everything technology. He produced
                        sport college recruit videos for our son, and others. When he didn’t know how something worked, he has learned. He has always
                        pursued new knowledge and has naturally and intentionally embraced technology.
                        </p>
                        <p style="font-size: .8rem">At 52 he embarked on a path to learn coding. Coding is a myriad of languages that all work together to make really cool things happen. Can you imagine trying to learn multiple languages all at once when you have been monolingual your whole life except the one most important phrase in Spanish, “Una cervesa mas.” After nine months of working his job during the day and spending 4-5 hours each night and countless hours
                        each weekend he completed his course work and submitted his final project. I don’t know who was happier he had completed
                        the course work.
                        </P>
                        <p style="font-size: .8rem">So, back to our website…for my birthday I was given “Cindy and Me” a website developed by him to document
                        the adventures of our life as empty-nesters. The meaning of this website runs deep with me. It is a celebration of 12 months
                        of challenges. It is a tribute to a marriage that has survived almost 29 years. It is a prediction of many wonderful years
                        to come. It is a legacy to show that life together is better than life alone. In 8 days we embark on our first adventure
                        that will be documented on “Cindy and Me” and I can’t wait!
                        </p>
                    <a id="top" href="/blog" class="btn">Read our Stories...</a>
                </div>
                <div class="card-footer text-muted" style="font-size: .8rem">
                    est August 12, 1989
                    <a href="https://www.google.com/maps/place/Ranchwood+Apartments/@33.5207021,-112.1888939,15z/data=!4m5!3m4!1s0x0:0x3b732dde00823026!8m2!3d33.5207021!4d-112.1888939"
                        target="_blank">Glendale, AZ</a>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="input-group">
                <input type="text" class="form-control" style="margin-bottom: 4.2rem" placeholder="Search Cindy&Me...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" method="get" onSubmit="Gsitesearch(this)">Go!</button>
                </span>
            </div>

            <!-- Connect With Us -->
            <div class="card my-4 text-center">
                <h6 class="card-header pointer" data-toggle="collapse" data-target="#social">Our Social Media Links<p class="mb-0" style="font-size: .6rem">(click to expand/collapse)</p></h6>
                <div id="social" class="card-body collapse">
                    <div clas="row">
                        <div class="sm-cardheader">Connect with Cindy</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" style="padding-top: 0px; padding-bottom: 0px">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://www.facebook.com/cindy.chleborad" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/cindychl/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6" style="padding-top: 0px">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://www.strava.com/athletes/cindychleborad" target="_blank">
                                        <i class="fab fa-strava"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/cindyteach/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div clas="row">
                        <div class="sm-cardheader">Connect with John</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" style="padding-top: 0px; padding-bottom: 0px">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://www.facebook.com/jchleborad" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/jchleborad_/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.strava.com/athletes/jchleborad" target="_blank">
                                        <i class="fab fa-strava"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6" style="padding-top: 0px">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://www.linkedin.com/in/jchleborad/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/jchleborad_" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.jchleborad.com" target="_blank">
                                        <img class="fa-jicon mb-1" src="/ngApp/images/icons/icon-j.png" width="32" height="32"></img>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Quotes & Perspectives</h5>
                <div class="card-body text-center">
                    <hr class="hr-quote-top">
                    <span>
                        "Nothing valuable can be lost by taking time"
                    </span>
                    <br>
                    <span class="mt-3" style="font-size: .75em; float: right"> – Abraham Lincoln
                    </span>
                    <hr class="hr-quote-bottom">
                </div>
            </div>

        </div>