<h2>Website {{controller.message}}</h2>

<ol>
    <li>
        Activities page
    </li>
    <li>
        About page
    </li>
    <li style="text-decoration: line-through">
        Set up blog @ Cindy&Me.com (Wordpress)
    </li>
    <li style="text-decoration: line-through">
        Add comments Section
        <a href="https://disqus.com/" target="_blank">Disqus Comments</a>
    </li>
    <li>
        Main Blog Page Format
        <ul>
            <li>Travel</li>
            <li>Activities</li>
            <li>Bucket List</li>
        </ul>
    </li>
    <li>
        Blog Post Formats
        <ul>
            <li>Travel</li>
            <li>Activities</li>
            <li>Bucket List</li>
        </ul>
    </li>
    <li>
        Search Engine for Site
        <ul>
            <li>Put in Navbar</li>
            <li>
                <a href="https://cse.google.com/cse/" target="_blank">Google Custom Search</a>
            </li>
            <li>
                <a href="https://www.freefind.com/" target="_blank">Free Find</a>
            </li>
            <li>
                <a href="http://www.javascriptkit.com/script/script2/multi_site_search.shtml" target="_blank">JavaScript Kit Search (see below)</a>
            </li>
        </ul>
    </li>
</ol>



<!-- JK Search for Site -->

<script type="text/javascript">
    // Google Internal Site Search script- By JavaScriptKit.com (http://www.javascriptkit.com)
    // For this and over 400+ free scripts, visit JavaScript Kit- http://www.javascriptkit.com/
    // This notice must stay intact for use

    //Enter domain of site to search.
    var domainroot = "www.javascriptkit.com"

    function Gsitesearch(curobj) {
        curobj.q.value = "site:" + domainroot + " " + curobj.qfront.value
    }
</script>


<form action="http://www.google.com/search" method="get" onSubmit="Gsitesearch(this)" target="_blank">

    <p>
        <br />
        <input name="q" type="hidden" />
        <input name="qfront" type="text" style="width: 180px" placeholder="Search Cindy&Me" />
        <input class="btn btn-secondary input-group-btn" type="submit" value="Go!" />
    </p>

</form>